<h2>GoogleVisualr - Roles (Experimental)</h2>
<div class='append-bottom'>
  <hr>
  <h3>Overview</h3>
  <p>
    GoogleVisualr::DataTable now supports <em>role</em> and <em>pattern</em> attributes in <em>#new_column</em> and <em>#new_columns</em> methods.
  </p>
  <p>
    Please refer to <%= link_to "Google's documentation", "http://code.google.com/apis/chart/interactive/docs/roles.html" %> for details.
  </p>
</div>
<div class='append-bottom'>
  <hr>
  <h3>Example</h3>
  <div id='chart'></div>
  <%= render_chart @chart, 'chart' %>
</div>
<div class='append-bottom'>
  <hr>
  <h3>Code</h3>
  <div>
    <p>
      In your controller, create the data_table object, set new columns (with role), add row values, then instantiate the chart with configuration options.
    </p>
    <%= codify_ruby do %>
  # http://code.google.com/apis/chart/interactive/docs/roles.html
  def roles

    data_table = GoogleVisualr::DataTable.new
    data_table.new_column('string', 'Month')
    data_table.new_column('number', 'Sales')
    # Columns with role definition
    data_table.new_column('number'  , nil, nil, 'interval')
    data_table.new_column('number'  , nil, nil, 'interval')
    data_table.new_column('string'  , nil, nil, 'annotation')
    data_table.new_column('string'  , nil, nil, 'annotationText')
    data_table.new_column('boolean' , nil, nil, 'certainty')

    data_table.add_rows([
      ['April', 1000, 900 , 1100, 'A', 'Stolen data'  , true],
      ['May'  , 1170, 1000, 1200, 'B', 'Coffee spill' , true],
      ['June' , 660 , 550 , 800 , 'C', 'Wampus attack', true],
      ['July' , 1030, nil , nil , nil, nil            , false]
    ])

    opts   = { :width => 600, :height => 400, :title => 'Sales', :legend => 'none' }
    @chart = GoogleVisualr::Interactive::LineChart.new(data_table, opts)

  end
    <% end %>
  </div>
  <div>
    <p>
      In your view, use the <em>render_chart</em> method to generate <%= link_to "JavasScript", "http://code.google.com/apis/chart/interactive/docs/roles.html#whatareroles" %>, during rendering of the view.
    </p>
    <%= codify_html do %>
  <div id='chart'></div>
  <%%= render_chart @chart, 'chart' %>
    <% end %>
  </div>
</div>
