<h2>GoogleVisualr - Annotated Time Line</h2>
<div class='append-bottom'>
  <hr>
  <h3>Overview</h3>
  <p>
    An interactive time series line chart with optional annotations. The chart is rendered within the browser using Flash.
  </p>
  <p>
    Please refer to <%= link_to "Google's documentation", "http://code.google.com/apis/chart/interactive/docs/gallery/annotatedtimeline.html" %> for details on <em>Data Format</em> and <em>Configuration Options</em>. However, <em>Methods</em> and <em>Events</em> are not implemented.
  </p>
  <p>
    Important: Please specify the height and width of the div element explicitly in the view.
  </p>
</div>
<div class='append-bottom'>
  <hr>
  <h3>Example</h3>
  <!-- Specify the size of the Container element explicitly! -->
  <div id='chart' style='width: 700px; height: 240px;'></div>
  <%= render_chart @chart, 'chart' %>
</div>
<div class='append-bottom'>
  <hr>
  <h3>Code</h3>
  <div>
    <p>
      In your controller, create the data_table object, set new columns, add row values, then instantiate the chart with configuration options.
    </p>
    <%= codify_ruby do %>
  # http://code.google.com/apis/chart/interactive/docs/gallery/annotatedtimeline.html#Example
  def annotated_time_line

    data_table = GoogleVisualr::DataTable.new
    data_table.new_column('date'  , 'Date')
    data_table.new_column('number', 'Sold Pencils')
    data_table.new_column('string', 'title1')
    data_table.new_column('string', 'text1' )
    data_table.new_column('number', 'Sold Pens'   )
    data_table.new_column('string', 'title2')
    data_table.new_column('string', 'text2' )
    data_table.add_rows( [
      [ Date.parse("2008-2-1"), 30000, '', '', 40645, '', ''],
      [ Date.parse("2008-2-2"), 14045, '', '', 20374, '', ''],
      [ Date.parse("2008-2-3"), 55022, '', '', 50766, '', ''],
      [ Date.parse("2008-2-4"), 75284, '', '', 14334, 'Out of Stock','Ran out of stock on pens at 4pm'],
      [ Date.parse("2008-2-5"), 41476, 'Bought Pens','Bought 200k pens', 66467, '', ''],
      [ Date.parse("2008-2-6"), 33322, '', '', 39463, '', '']
    ] )

    opts   = { :displayAnnotations => true }
    @chart = GoogleVisualr::Interactive::AnnotatedTimeLine.new(data_table, opts)

  end
    <% end %>
  </div>
  <div>
    <p>
      In your view, use the <em>render_chart</em> method to generate <%= link_to "JavasScript", "http://code.google.com/apis/chart/interactive/docs/gallery/annotatedtimeline.html#Example" %>, during rendering of the view.
    </p>
    <%= codify_html do %>
  <!-- Specify the size of the Container element explicitly! -->
  <div id='chart' style='width: 700px; height: 240px;'></div>
  <%%= render_chart @chart, 'chart' %>
    <% end %>
  </div>
</div>
