<h2>GoogleVisualr - Area Chart</h2>
<div class='append-bottom'>
  <hr>
  <h3>Overview</h3>
  <p>
    An area chart that displays tips when clicking on points, and animates lines when clicking on legend entries.
  </p>
  <p>
    Please refer to <%= link_to "Google's documentation", "http://code.google.com/apis/chart/interactive/docs/gallery/areachart.html" %> for details on <em>Data Format</em> and <em>Configuration Options</em>. However, <em>Methods</em> and <em>Events</em> are not implemented.
  </p>
</div>
<div class='append-bottom'>
  <hr>
  <h3>Example</h3>
  <div id='chart'></div>
  <%= render_chart @chart, 'chart' %>
</div>
<div class='append-bottom'>
  <hr>
  <h3>Code</h3>
  <div>
    <p>
      In your controller, create the data_table object, set new columns, add row values, then instantiate the chart with configuration options.
    </p>
    <%= codify_ruby do %>
  # http://code.google.com/apis/chart/interactive/docs/gallery/areachart.html#Example
  def area_chart

    data_table = GoogleVisualr::DataTable.new
    data_table.new_column('string', 'Year')
    data_table.new_column('number', 'Sales')
    data_table.new_column('number', 'Expenses')
    data_table.add_rows(
      [
        ['2004', 1000, 400],
        ['2005', 1170, 460],
        ['2006', 660, 1120],
        ['2007', 1030, 540]
      ]
    )

    opts   = { width: 400, height: 240, title: 'Company Performance', hAxis: { title: 'Year', titleTextStyle: { color: '#FF0000' } } }
    @chart = GoogleVisualr::Interactive::AreaChart.new(data_table, opts)

  end
    <% end %>
  </div>
  <div>
    <p>
      In your view, use the <em>render_chart</em> method to generate <%= link_to "JavaScript", "http://code.google.com/apis/chart/interactive/docs/gallery/areachart.html#Example" %>, during rendering of the view.
    </p>
    <%= codify_html do %>
  <div id='chart'></div>
  <%%= render_chart @chart, 'chart' %>
    <% end %>
  </div>
</div>
