<h2>GoogleVisualr - Stepped Area Chart</h2>
<div class='append-bottom'>
  <hr>
  <h3>Overview</h3>
  <p>
    A stepped area chart that is rendered within the browser using SVG or VML. Displays tips when hovering over steps.
  </p>
  <p>
    Please refer to <%= link_to "Google's documentation", "http://code.google.com/apis/chart/interactive/docs/gallery/steppedareachart.html" %> for details on <em>Data Format</em> and <em>Configuration Options</em>. However, <em>Methods</em> and <em>Events</em> are not implemented.
  </p>
</div>
<div class='append-bottom'>
  <hr>
  <h3>Example</h3>
  <div id='chart'></div>
  <%= render_chart @chart, 'chart' %>
</div>
<div class='append-bottom'>
  <hr>
  <h3>Code</h3>
  <div>
    <p>
      In your controller, create the data_table object, set new columns, add row values, then instantiate the chart with configuration options.
    </p>
    <%= codify_ruby do %>
  # http://code.google.com/apis/chart/interactive/docs/gallery/steppedareachart.html#Example
  def stepped_area_chart

    data_table = GoogleVisualr::DataTable.new
    data_table.new_column('string'  , 'Director (Year)')
    data_table.new_column('number'  , 'Rotten Tomatoes')
    data_table.new_column('number' , 'IMDB')
    data_table.add_rows(
      [
        ['Alfred Hitchcock (1935)', 8.4,         7.9],
        ['Ralph Thomas (1959)',     6.9,         6.5],
        ['Don Sharp (1978)',        6.5,         6.4],
        ['James Hawes (2008)',      4.4,         6.2]
      ]
    )

    opts   = { :width => 800, :height => 500, :title => "The decline of 'The 39 Steps'", :vAxis => { :title => 'Accumulated Rating' }, :isStacked => true }
    @chart = GoogleVisualr::Interactive::SteppedAreaChart.new(data_table, opts)

  end
    <% end %>
  </div>
  <div>
    <p>
      In your view, use the <em>render_chart</em> method to generate <%= link_to "JavaScript", "http://code.google.com/apis/chart/interactive/docs/gallery/table.html#Example" %>, during rendering of the view.
    </p>
    <%= codify_html do %>
  <div id='chart'></div>
  <%%= render_chart @chart, 'chart' %>
    <% end %>
  </div>
</div>
