<html>
  <head>

    <title><%= meta_title %></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <script src="http://www.google.com/jsapi"></script>
    <%= stylesheet_link_tag "blueprint/screen", :media => "screen, projection"%>
    <%= stylesheet_link_tag "demo"            , :media => "screen, projection"%>

  </head>
  <body>
    <div class='container prepend-top append-bottom'>
      <div class='span-24 last'>
        <h1>GoogleVisualr</h1>
        <em>
          <p class='quiet'>
            A Ruby Library for the <%= link_to 'Google Visualization API', 'http://code.google.com/apis/visualization/documentation/' %>. Write Ruby code. Generate Javascript. Display a Google Visualization.
          </p>
        </em>
      </div>
      <hr>
      <div id='side_navigation' class='span-4'>
        <ul>
          <li>
            <%= link_to 'Home'      , :root   %>
          </li>
          <li>
            <%= link_to 'Docs'      , '/docs' %>
            <ul>
              <li><%= link_to 'Formatters'          , :controller => 'docs'   , :action => 'formatters'          %></li>
            </ul>
          </li>
          <li>
            <strong>Visualization Examples</strong>
            <ul>
              <li><%= link_to 'Annotated Time Line' , :controller => 'examples', :action => 'annotated_time_line' %></li>
              <li><%= link_to 'Area Chart'          , :controller => 'examples', :action => 'area_chart'          %></li>
              <li><%= link_to 'Bar Chart'           , :controller => 'examples', :action => 'bar_chart'           %></li>
              <li><%= link_to 'Column Chart'        , :controller => 'examples', :action => 'column_chart'        %></li>
              <li><%= link_to 'Gauge'               , :controller => 'examples', :action => 'gauge'               %></li>
              <li><%= link_to 'Geomap'              , :controller => 'examples', :action => 'geomap'              %></li>
              <li><%= link_to 'Spark Line (Image)'  , :controller => 'examples', :action => 'image_spark_line'    %></li>
              <li><%= link_to 'Intensity Map'       , :controller => 'examples', :action => 'intensity_map'       %></li>
              <li><%= link_to 'Line Chart'          , :controller => 'examples', :action => 'line_chart'          %></li>
              <li><%= link_to 'Map'                 , :controller => 'examples', :action => 'map'                 %></li>
              <li><%= link_to 'Motion Chart'        , :controller => 'examples', :action => 'motion_chart'        %></li>
              <li><%= link_to 'Organizational Chart', :controller => 'examples', :action => 'org_chart'           %></li>
              <li><%= link_to 'Pie Chart'           , :controller => 'examples', :action => 'pie_chart'           %></li>
              <li><%= link_to 'Scatter Chart'       , :controller => 'examples', :action => 'scatter_chart'       %></li>
              <li><%= link_to 'Table'               , :controller => 'examples', :action => 'table'               %></li>
          </li>
        </ul>
      </div>
      <div class='span-20 last'>
        <%= yield %>
      </div>
    </div>

    <!-- Google Analytics -->
    <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
      try {
        var pageTracker = _gat._getTracker("UA-297001-5");
        pageTracker._trackPageview();
      } catch(err) {}
    </script>

  </body>
</html>