<html>
  <head>

    <title><%= meta_title %></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <script src="http://www.google.com/jsapi"></script>
    <%= stylesheet_link_tag "blueprint/screen", :media => "screen, projection"%>
    <%= stylesheet_link_tag "application"     , :media => "screen, projection"%>

  </head>
  <body>
    <div class='container prepend-top append-bottom'>
      <div class='span-24 last'>
        <h1>GoogleVisualr</h1>
        <p class='quiet'>
        <em>
        A Ruby Gem for the <%= link_to 'Google Chart Tools', 'http://code.google.com/apis/chart/index.html' %>. Write Ruby code. Generate Javascript. Display a Google Chart.
        </em>
        </p>
      </div>
      <hr>
      <div id='side_navigation' class='span-4'>
        <ul>
          <li>
            <%= link_to 'Home', :root %>
          </li>
          <li>
            <%= link_to 'DataTable API Reference', '/docs' %>
            <ul>
              <li><%= link_to 'Formatters', :controller => 'docs', :action => 'formatters' %></li>
            </ul>
          </li>
          <li>
            <strong>Charts Gallery</strong>
            <ul>
              <li>
                <strong>Interactive</strong>
                <ul>
                  <li><%= link_to 'Annotated Time Line' , :controller => 'examples/interactive', :action => 'annotated_time_line' %></li>
                  <li><%= link_to 'Area Chart'          , :controller => 'examples/interactive', :action => 'area_chart'          %></li>
                  <li><%= link_to 'Bar Chart'           , :controller => 'examples/interactive', :action => 'bar_chart'           %></li>
                  <li><%= link_to 'Candlestick Chart'   , :controller => 'examples/interactive', :action => 'candlestick_chart'   %></li>
                  <li><%= link_to 'Column Chart'        , :controller => 'examples/interactive', :action => 'column_chart'        %></li>
                  <li><%= link_to 'Combo Chart'         , :controller => 'examples/interactive', :action => 'combo_chart'         %></li>
                  <li><%= link_to 'Gauge'               , :controller => 'examples/interactive', :action => 'gauge'               %></li>
                  <li><%= link_to 'Geo Chart'           , :controller => 'examples/interactive', :action => 'geo_chart'           %></li>
                  <li><%= link_to 'Geo Map'             , :controller => 'examples/interactive', :action => 'geo_map'             %></li>
                  <li><%= link_to 'Intensity Map'       , :controller => 'examples/interactive', :action => 'intensity_map'       %></li>
                  <li><%= link_to 'Line Chart'          , :controller => 'examples/interactive', :action => 'line_chart'          %></li>
                  <li><%= link_to 'Map'                 , :controller => 'examples/interactive', :action => 'map'                 %></li>
                  <li><%= link_to 'Motion Chart'        , :controller => 'examples/interactive', :action => 'motion_chart'        %></li>
                  <li><%= link_to 'Organizational Chart', :controller => 'examples/interactive', :action => 'org_chart'           %></li>
                  <li><%= link_to 'Pie Chart'           , :controller => 'examples/interactive', :action => 'pie_chart'           %></li>
                  <li><%= link_to 'Scatter Chart'       , :controller => 'examples/interactive', :action => 'scatter_chart'       %></li>
                  <li><%= link_to 'Table'               , :controller => 'examples/interactive', :action => 'table'               %></li>
                </ul>
              </li>
              <li>
                <strong>Image</strong>
                <ul>
                    <li><%= link_to 'Spark Line'        , :controller => 'examples/image'      , :action => 'spark_line'    %></li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <div class='span-20 last'>
        <%= yield %>
      </div>
    </div>

    <!-- Google Analytics -->
    <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
      try {
        var pageTracker = _gat._getTracker("UA-297001-5");
        pageTracker._trackPageview();
      } catch(err) {}
    </script>

  </body>
</html>